@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
.parallax-window {
  min-height: 600px;
  background: transparent;
}

.title {
  font-size: 60px;
  text-align: center;
  padding: 23px;
  font-family: 'Josefin Sans', sans-serif;;
  }



  
